<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do List </title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

<div class="box" id="heading">
    <h1> <%= listTitle %></h1>
</div>

<div class="box">

    <% for (let i = 0; i < itemList.length; i++){ %>
        <div class="item">
            <label for="check">
                <input id="check" type="checkbox">
            </label>
            <p> <%= itemList[i] %></p>
        </div>
    <% } %>
        <form class="item" action="/" method="post">
            <label for="submit">
                <input id="submit" type="text" name="newItem" placeholder="New Item" autocomplete="off">
            </label>
            <button type="submit" name="list" value=<%= listTitle %>>+</button>
        </form>

</div>



</body>
</html>